<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Performance</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/tasks}">Task Management Application</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/tasks}">All Tasks</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/myTasks}">My Tasks</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/checkPerformance}">Check Performance</a>
                </li>
            </ul>

            <a class="btn btn-primary btn-sm ml-3" th:href="@{/logout}">
                    <i class="fa fa-shopping-cart"></i> Logout
            </a>
        </div>
    </div>
</nav>

<h3 style="color: red" th:if="${hasError}" th:text="${error}"></h3>

<form th:method="GET" th:action="@{/showUserPerformance}">
    <h1>View Performance for User:</h1>

    <select name="chosenUsername" class="form-control">
        <option th:each="user : ${listUsers}"
                th:value="${user?.getUsername()}"
                th:text="${user.getUsername()}">
        </option>
    </select>

    <h1>And Type</h1>

    <select name="type" class="form-control">
<!--        <option th:each="listType : ${listTypes}"-->
<!--                th:value="${listType}"-->
<!--                th:text="${listType}">-->
<!--        </option>-->
        <option th:value="Weekly">Weekly</option>
        <option th:value="Monthly">Monthly</option>
        <option th:value="Yearly">Yearly</option>
    </select>

    <h1>If your type is Weekly choose date from and date to</h1>

    <label for="dateFrom">Date From</label>
    <input id="dateFrom" name="dateFrom" type="date">

    <label for="dateTo">Date To</label>
    <input id="dateTo" name="dateTo" type="date">

    <button type="submit">Submit</button>

</form>

<a type="button" class="btn btn-primary" th:href="@{/tasks}">Back</a>

</body>
</html>