<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/tasks}">Task Management Application</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/tasks}">All Tasks</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/myTasks}">My Tasks</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/checkPerformance}">Check Performance</a>
                </li>
            </ul>

            <a class="btn btn-primary btn-sm ml-3" th:href="@{/logout}">
                <i class="fa fa-shopping-cart"></i> Logout
            </a>
        </div>
    </div>
</nav>

<h3 style="color: red" th:if="${hasError}" th:text="${error}"></h3>

<h1>List All Tasks</h1>

<div class="container mb-4">
    <div class="row">

        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Task Title</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Estimation Days</th>
                    <th>Status</th>
                    <th>Assignees</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${allTasks != null}" th:each="eachTask : ${allTasks}">

                    <td th:text="${eachTask.getTitle()}"></td>
                    <td th:text="${eachTask.getDescription()}"></td>
                    <td th:text="(${eachTask.getCreator()} != null ? ${eachTask.getCreator().getUsername()} : 'No Creator')"></td>
                    <td th:text="${#temporals.format(eachTask.getStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(eachTask.getDueDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${eachTask.getEstimationDays()}"></td>
                    <td th:text="${eachTask.getStatus().name()}"></td>

                    <td th:if="${eachTask.getAssignees() == null}" th:text="No Assignees"></td>
                    <td th:if="${eachTask.getAssignees() != null}">
                        <ul>
                            <li th:each="assignee : ${eachTask.getAssignees()}"
                                th:text="${assignee.getUsername()}"></li>
                        </ul>
                    </td>

                    <td th:if="${eachTask.getComments().size() == 0}">No Comments</td>
                    <td th:if="${eachTask.getComments() != null}">
                        <ul>
                            <li th:each="comment : ${eachTask.getDistinctComments()}"
                                th:text="${comment.getComment()}"></li>
                        </ul>
                    </td>

                    <td class="text-right">

                        <form th:if="${eachTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                              th:action="@{/tasks/delete/{id} (id=${eachTask.getId()})}" th:method="POST">
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <a th:if="${eachTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                           th:href="@{/tasks/edit-task/{id} (id=${eachTask.getId()})}"
                           class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                    </td>

                    <td class="text-right">

                        <a th:href="@{/taskInfo/{id} (id=${eachTask.getId()})}"
                           class="btn btn-sm btn-info">
                            <i class="fa fa-trash">View Task</i></a>

                    </td>

                </tr>

                </tbody>
            </table>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a th:href="@{/tasks/add-task}" class="btn btn-block btn-dark">Add new task</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>