<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/tasks}">Task Management Application</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/tasks}">All Tasks</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/myTasks}">My Tasks</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item m-auto">
                    <a class="nav-link active" th:href="@{/checkPerformance}">Check Performance</a>
                </li>
            </ul>

            <a class="btn btn-primary btn-sm ml-3" th:href="@{/logout}">
                <i class="fa fa-shopping-cart"></i> Logout
            </a>
        </div>
    </div>
</nav>

<h3 style="color: red" th:if="${hasError}" th:text="${error}"></h3>

<h1>List All Tasks</h1>

<div class="container mb-4">
    <div class="row">

        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Task Title</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Estimation Days</th>
                    <th>Status</th>
                    <th>Assignees</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${toDoTask != null}" th:each="toDoTask : ${toDoTasks}">

                    <td th:text="${toDoTask.getTitle()}"></td>
                    <td th:text="${toDoTask.getDescription()}"></td>
                    <td th:text="(${toDoTask.getCreator()} != null ? ${toDoTask.getCreator().getUsername()} : 'No Creator')"></td>
                    <td th:text="${#temporals.format(toDoTask.getStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(toDoTask.getDueDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${toDoTask.getEstimationDays()}"></td>
                    <td th:text="${toDoTask.getStatus().name()}"></td>

                    <td th:if="${toDoTask.getAssignees() == null}" th:text="No Assignees"></td>
                    <td th:if="${toDoTask.getAssignees() != null}">
                        <ul>
                            <li th:each="assignee : ${toDoTask.getAssignees()}"  th:text="${assignee.getUsername()}"></li>
                        </ul>
                    </td>

                    <td th:if="${toDoTask.getComments() == null}" th:text="No Comments"></td>
                    <td th:if="${toDoTask.getComments() != null}">
                        <ul>
                            <li th:each="comment : ${toDoTask.getComments()}"  th:text="${comment.getComment()}"></li>
                        </ul>
                    </td>

                    <td class="text-right">

                        <form th:if="${toDoTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                              th:action="@{/tasks/delete/{id} (id=${toDoTask.getId()})}" th:method="POST">
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <a th:if="${toDoTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                           th:href="@{/tasks/edit-task/{id} (id=${toDoTask.getId()})}"
                           class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                    </td>

                    <td class="text-right">

                        <a th:href="@{/taskInfo/{id} (id=${toDoTask.getId()})}"
                           class="btn btn-sm btn-info">
                            <i class="fa fa-trash">View Task</i></a>

                    </td>

                </tr>

                <tr th:if="${inProgressTask != null}" th:each="inProgressTask : ${inProgressTasks}">

                    <td th:text="${inProgressTask.getTitle()}"></td>
                    <td th:text="${inProgressTask.getDescription()}"></td>
                    <td th:text="(${inProgressTask.getCreator()} != null ? ${inProgressTask.getCreator().getUsername()} : 'No Creator')"></td>
                    <td th:text="${#temporals.format(inProgressTask.getStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(inProgressTask.getDueDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${inProgressTask.getEstimationDays()}"></td>
                    <td th:text="${inProgressTask.getStatus()}"></td>

                    <td th:if="${inProgressTask.getAssignees() == null}" th:text="No Assignees"></td>
                    <td th:if="${inProgressTask.getAssignees() != null}">
                        <ul>
                            <li th:each="assignee : ${inProgressTask.getAssignees()}"  th:text="${assignee.getUsername()}"></li>
                        </ul>
                    </td>

                    <td th:if="${inProgressTask.getComments() == null}" th:text="No Comments"></td>
                    <td th:if="${inProgressTask.getComments() != null}">
                        <ul>
                            <li th:each="comment : ${inProgressTask.getComments()}"  th:text="${comment.getComment()}"></li>
                        </ul>
                    </td>

                    <td class="text-right">

                        <form th:if="${inProgressTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                              th:action="@{/tasks/delete/{id} (id=${inProgressTask.getId()})}" th:method="POST">
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <a th:if="${inProgressTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                           th:href="@{/tasks/edit-task/{id} (id=${inProgressTask.getId()})}"
                           class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                    </td>

                    <td class="text-right">

                        <a th:href="@{/taskInfo/{id} (id=${inProgressTask.getId()})}"
                           class="btn btn-sm btn-info">
                            <i class="fa fa-trash">View Task</i></a>

                    </td>

                </tr>

                <tr th:if="${doneTask != null}" th:each="doneTask : ${doneTasks}">

                    <td th:text="${doneTask.getTitle()}"></td>
                    <td th:text="${doneTask.getDescription()}"></td>
                    <td th:text="(${doneTask.getCreator()} != null ? ${doneTask.getCreator().getUsername()} : 'No Creator')"></td>
                    <td th:text="${#temporals.format(doneTask.getStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(doneTask.getDueDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${doneTask.getEstimationDays()}"></td>
                    <td th:text="${doneTask.getStatus()}"></td>

                    <td th:if="${doneTask.getAssignees() == null}" th:text="No Assignees"></td>
                    <td th:if="${doneTask.getAssignees() != null}">
                        <ul>
                            <li th:each="assignee : ${doneTask.getAssignees()}"  th:text="${assignee.getUsername()}"></li>
                        </ul>
                    </td>

                    <td th:if="${doneTask.getComments() == null}" th:text="No Comments"></td>
                    <td th:if="${doneTask.getComments() != null}">
                        <ul>
                            <li th:each="comment : ${doneTask.getComments()}"  th:text="${comment.getComment()}"></li>
                        </ul>
                    </td>

                    <td class="text-right">

                        <form th:if="${doneTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                              th:action="@{/tasks/delete/{id} (id=${doneTask.getId()})}" th:method="POST">
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <a th:if="${doneTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                           th:href="@{/tasks/edit-task/{id} (id=${doneTask.getId()})}"
                           class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                    </td>

                    <td class="text-right">

                        <a th:href="@{/taskInfo/{id} (id=${doneTask.getId()})}"
                           class="btn btn-sm btn-info">
                            <i class="fa fa-trash">View Task</i></a>

                    </td>

                </tr>

                <tr th:if="${canceledTask != null}" th:each="canceledTask : ${canceledTasks}">

                    <td th:text="${canceledTask.getTitle()}"></td>
                    <td th:text="${canceledTask.getDescription()}"></td>
                    <td th:text="(${canceledTask.getCreator()} != null ? ${canceledTask.getCreator().getUsername()} : 'No Creator')"></td>
                    <td th:text="${#temporals.format(canceledTask.getStartDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(canceledTask.getDueDate(), 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${canceledTask.getEstimationDays()}"></td>
                    <td th:text="${canceledTask.getStatus()}"></td>

                    <td th:if="${canceledTask.getAssignees() == null}" th:text="No Assignees"></td>
                    <td th:if="${canceledTask.getAssignees() != null}">
                        <ul>
                            <li th:each="assignee : ${canceledTask.getAssignees()}"  th:text="${assignee.getUsername()}"></li>
                        </ul>
                    </td>

                    <td th:if="${canceledTask.getComments() == null}" th:text="No Comments"></td>
                    <td th:if="${canceledTask.getComments() != null}">
                        <ul>
                            <li th:each="comment : ${canceledTask.getComments()}"  th:text="${comment.getComment()}"></li>
                        </ul>
                    </td>

                    <td class="text-right">

                        <form th:if="${canceledTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                              th:action="@{/tasks/delete/{id} (id=${canceledTask.getId()})}" th:method="POST">
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        <a th:if="${canceledTask.getCreator().getUsername().equals(#request.getRemoteUser())}"
                           th:href="@{/tasks/edit-task/{id} (id=${canceledTask.getId()})}"
                           class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                    </td>

                    <td class="text-right">

                        <a th:href="@{/taskInfo/{id} (id=${canceledTask.getId()})}"
                           class="btn btn-sm btn-info">
                            <i class="fa fa-trash">View Task</i></a>

                    </td>

                </tr>

                </tbody>
            </table>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a th:href="@{/tasks/add-task}" class="btn btn-block btn-dark">Add new task</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>